<div class="message-board">
    <h2 class="text-center mb-2">✦ Leave a Message ✦</h2>
<p class="message-board-kaomoji text-center">(｡･ω･｡)ﾉ♡</p>
<div class="comments-divider text-center">──・──・──・──</div>
   
 <script src="https://giscus.app/client.js"
            data-repo="X1aoNaZzz/MyBlog"
            data-repo-id="R_kgDOUGHwvQ"
            data-category="Announcements"
            data-category-id="DIC_kwDOUGHwvc4DEbdg"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="transparent_dark"
            data-lang="zh-CN"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>